#
# .gitignore
# =============================================================================
# Customers API Lite microservice prototype (V port). Version 0.1.2
# =============================================================================
# A daemon written in V (vlang/veb), designed and intended to be run
# as a microservice, implementing a special Customers API prototype
# with a smart yet simplified data scheme.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# === Executables =============================================================
bin/

# === Log files ===============================================================
log_/

# === Uncompressed databases ==================================================
*.db

# vim:set nu et ts=4 sw=4:
